:root {
  --bg-primary: #f3f7f9;
  --bg-accent: #f7f3ec;
  --bg-accent-light: #f9f5f0;

  --primary-white: #fff;
  --primary-black: #000;

  --primary-grey: #3d546f;
  --primary-grey-dark: #32425c;
  --primary-grey-dark-alt: #293449;
  --primary-grey-darker: #1d2739;
  --primary-grey-dark-active: #161d29;
  --primary-grey-light: #c5c5c5;

  --primary-green: #63a63e;
  --primary-green-light: #5fbb2d;
  --primary-green-dark: #518534;
  --primary-green-darker: #367315;

  --primary-red: #ee3643;
  --primary-red-hover: #ca2c37;

  --accent-orange: #ffbf47;
  --accent-blue: #3bbce3;
  --accent-lilac: #dc91d8;
  --accent-green-light: #8ed78f;
  --accent-orange-light: #ffd180;

  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;

  --primary-font: "Cuprum", Helvetica, Arial, sans-serif;
  --secondary-font: "PT Sans", Helvetica, Arial, sans-serif;

  --inset-shadow: rgba(0, 0, 0, 0.24);
  --half-opacity-gray: rgba(255, 255, 255, 0.5);
}

body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--primary-white);
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.description {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* HEADER */
.logo {
  display: block;
  width: 220px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  box-shadow: inset 0px -5px 0px var(--inset-shadow);
}

.logo--small {
  height: 47px;
}

.logo--small:active {
  background-color: var(--error);
}

.logo--big {
  height: 68px;
}

.control-icon-button {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  color: var(--primary-white);
}

.control-icon-button:active {
  background-color: var(--primary-grey-dark-active);
  color: var(--half-opacity-gray);
}

.cart-full-button {
  background-color: var(--primary-red);
}

.order-button {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--success);
  color: var(--primary-white);
}

.order-button:active {
  background-color: var(--primary-green);
  color: var(--half-opacity-gray);
}

.header-menu {
  background-color: var(--primary-grey-dark-alt);
  color: var(--primary-white);
}

.header-main {
  background-color: var(--bg-primary);
}

.header-main-content {
  font-size: 16px;
}

.header-main-content__title {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--primary-red);
}

.address__phone {
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--primary-red);
  text-transform: uppercase;
}

.address__street {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-grey-dark);
}

.address--small {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--bg-primary);
}

.menu-action-button {
  font-size: 21px;
  line-height: 21px;
  position: relative;
}

.menu-action-button:hover {
  color: var(--primary-red);
}

.menu-action-button:active {
  color: var(--primary-grey-light);
}

.action-button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--primary-white);
  background-color: var(--primary-red);
}

.action-button:hover {
  background-color: var(--primary-red-hover);
}

.action-button:active {
  background-color: var(--error);
}

.navigation-menu {
  background-color: var(--primary-grey-dark);
  color: var(--primary-white);
  box-shadow: inset 0px -5px 0px var(--primary-grey-dark-alt);
}

.navigation-item__title,
.navigation-item__title:visited {
  color: var(--primary-white);
}

.navigation-item__title:hover {
  background-color: var(--primary-grey-dark-alt);
}

.navigation-item__title:active {
  background-color: var(--primary-grey-darker);
  opacity: 0.5;
}

.catalog-product__button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.catalog-product__button--buy {
  background-color: var(--primary-green);
  color: var(--primary-white);
  box-shadow: inset 0px -3px 0px var(--primary-green-darker);
  border-radius: 2px;
}

.catalog-product__button--buy:hover {
  background-color: var(--primary-green-light);
}

.catalog-product__button--buy:active {
  background-color: var(--primary-green-dark);
}

.catalog-product__button--bookmark {
  color: var(--primary-grey-dark);
  border: 3px solid var(--primary-green);
  border-radius: 2px;
}

.catalog-product__button--bookmark:hover {
  border-color: var(--primary-grey-dark);
}

.catalog-product__button--bookmark:active {
  opacity: 0.5;
}

/* FOOTER */

.footer-top {
  background-color: var(--primary-grey);
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.footer-nav-offers {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.footer-link--accent {
  color: var(--accent-orange-light);
}

.footer-nav-link__name {
  color: var(--primary-white);
}

.social-link__name {
  color: var(--primary-white);
}

.footer-nav-link__name:hover,
.footer-link--accent:hover {
  text-decoration: underline;
}

.footer-nav-link__name:active,
.footer-nav-offers-link__name:active {
  opacity: 0.5;
}

.feedback__email:active,
.developed-by__link:active {
  color: var(--primary-red);
}

.footer-bottom {
  color: var(--primary-white);
  background-color: var(--primary-grey-dark);
}

.copyright {
  margin: 0;
}

/* CATALOG */

.action-link__name {
  color: var(--primary-grey-dark);
}

.breadcrumbs {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--primary-black);
}

.filters-bg {
  background-color: var(--bg-accent);
}

.sorting-filters-title {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-title {
  color: var(--primary-grey-dark);
  background-color: var(--bg-primary);
}

.sorting-filter-updown {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-grey-light);
}

.sorting-filter-updown:hover {
  background-color: var(--primary-black);
}

.sorting-filter-updown,
.sorting-filter-updown:hover {
  border-bottom: none;
}

.sorting-filter-type__name {
  color: var(--primary-grey-light);
  padding-bottom: 2px;
  border-bottom: 1px dotted var(--primary-red);
}

.sorting-filter-type__name:hover {
  color: var(--primary-black);
  border-bottom: 1px solid var(--primary-red);
}

.sorting-filter-type__name--active,
.sorting-filter-type__name--active:hover {
  color: var(--primary-red);
  border-bottom: none;
}

.filters {
  text-transform: uppercase;
}

.filters__title {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filters__list {
  font-family: var(--secondary-font);
  font-size: 15px;
  line-height: 19px;
}

.filters__apply-button {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-product {
  text-transform: uppercase;
}

.catalog-product__title {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-product__old-price {
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: var(--primary-grey-light);
}

.catalog-product__badge,
.catalog-product__actual-price {
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: var(--primary-red);
  color: var(--primary-white);
}
