:root {
  --bg-primary: #f3f7f9;
  --bg-accent: #f7f3ec;
  --bg-accent-light: #f9f5f0;

  --primary-white: #fff;
  --primary-white-30-percent: rgba(255, 255, 255, 0.3);
  --primary-black: #000;

  --primary-grey: #3d546f;
  --primary-grey-dark: #32425c;
  --primary-grey-dark-alt: #293449;
  --primary-grey-darker: #1d2739;
  --primary-grey-dark-active: #161d29;
  --primary-grey-light: #c5c5c5;

  --primary-green: #63a63e;
  --primary-green-light: #5fbb2d;
  --primary-green-dark: #518534;
  --primary-green-darker: #367315;

  --primary-red: #ee3643;
  --primary-red-hover: #ca2c37;

  --accent-orange: #ffbf47;
  --accent-blue: #3bbce3;
  --accent-lilac: #dc91d8;
  --accent-green-light: #8ed78f;
  --accent-orange-light: #ffd180;
  --accent-brown-light: #f7f3ec;

  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;

  --primary-font: "Cuprum", Helvetica, Arial, sans-serif;
  --secondary-font: "PT Sans", Helvetica, Arial, sans-serif;

  --inset-shadow: rgba(0, 0, 0, 0.24);
  --half-opacity-gray: rgba(255, 255, 255, 0.5);
  --quarter-opacity-black: rgba(0, 0, 0, 0.25);
}

html {
  height: 100%;
}

body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--primary-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.content-container {
  width: 940px;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.description {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* HEADER */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  box-shadow: inset 0px -5px 0px var(--inset-shadow);
}

.logo--small {
  height: 52px;
}

.logo--small:active {
  background-color: var(--error);
}

.logo--big {
  height: 68px;
}

.search-container {
  height: 100%;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 271px;
  color: var(--primary-white);
}

.search::placeholder {
  font-weight: normal;
  color: var(--primary-white);
}

.control-icon-button {
  display: flex;
  align-items: center;
  flex-grow: 1;
  height: 100%;
  color: var(--primary-white);
}

.control-icon-button:active {
  background-color: var(--primary-grey-dark-active);
  color: var(--half-opacity-gray);
}

.cart-full-button {
  background-color: var(--primary-red);
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: var(--primary-green);
  color: var(--primary-white);
}

.order-button:hover {
  background-color: var(--success);
}

.order-button:active {
  background-color: var(--primary-green);
  color: var(--half-opacity-gray);
}

.header-menu {
  background-color: var(--primary-grey-dark-alt);
}

.header-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.header-main {
  background-color: var(--bg-primary);
  padding: 44px 0 60px;
}

.header-main-content {
  display: grid;
  grid-template-columns: 320px 270px auto;
}

.header-main-content__title {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--primary-red);
  margin: 0 0 0 30px;
  width: 197px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.address__phone {
  width: 100%;
  height: 46px;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--primary-red);
  text-transform: uppercase;
}

.address__phone--big {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--primary-white);
}

.address__street {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-grey-dark);
  text-align: center;
  margin: 0;
}

.address--small {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  color: var(--bg-primary);
}

.menu-action-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.menu-action-buttons-container > * + * {
  margin-left: 10px;
}

.menu-action-button {
  background-color: var(--primary-white);
  border: none;
  height: 46px;
  width: 150px;
  font-size: 21px;
  line-height: 21px;
  position: relative;
}

.menu-action-button:hover {
  color: var(--primary-red);
}

.menu-action-button:active {
  color: var(--primary-grey-light);
}

.menu-action-button--icon {
  width: 121px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  text-transform: uppercase;
  color: var(--primary-white);
  background-color: var(--primary-red);
}

.action-button:hover {
  background-color: var(--primary-red-hover);
}

.action-button:active {
  background-color: var(--error);
}

.action-button--red {
  text-transform: uppercase;
}

.action-button--red,
.action-button--red:hover {
  color: var(--primary-white);
  background-color: var(--primary-red);
}

.navigation-menu-container {
  background-color: var(--primary-grey-dark);
  color: var(--primary-white);
  box-shadow: inset 0px -5px 0px var(--primary-grey-dark-alt);

  display: flex;
  flex-direction: row;
  margin-top: 42px;
  padding: 0 20px;
}

.navigation-item {
  flex-grow: 1;
  text-align: center;
}

.navigation-item__title,
.navigation-item__title:visited {
  display: block;
  padding: 16px 24px 20px 27px;
  color: var(--primary-white);
  font-style: normal;
  font-weight: normal;
}

.navigation-item__title:hover {
  background-color: var(--primary-grey-dark-alt);
}

.navigation-item__title:active {
  background-color: var(--primary-grey-darker);
  opacity: 0.5;
}

.popular-categories-container {
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  padding: 59px 0;
}

.catalog-product__button {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.catalog-product__button--buy {
  background-color: var(--primary-green);
  color: var(--primary-white);
  box-shadow: inset 0px -3px 0px var(--primary-green-darker);
  border-radius: 2px;
}

.catalog-product__button--buy:hover {
  background-color: var(--primary-green-light);
}

.catalog-product__button--buy:active {
  background-color: var(--primary-green-dark);
}

.catalog-product__button--bookmark {
  color: var(--primary-grey-dark);
  border: 3px solid var(--primary-green);
  border-radius: 2px;
}

.catalog-product__button--bookmark:hover {
  border-color: var(--primary-grey-dark);
}

.catalog-product__button--bookmark:active {
  opacity: 0.5;
}

.tile {
  position: relative;
  width: 300px;
  height: 123px;
  padding: 20px 0 0 22px;
  color: var(--primary-white);
}

.tile__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 12px;
}

.tile__button {
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  height: 38px;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-30-percent);
  text-transform: uppercase;
}

.tile__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.tile__badge::after {
  content: "New";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  width: 100px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: -25px;
  font-size: 14px;
  line-height: 18px;
  transform: rotate(45deg);
  text-transform: uppercase;
}

.popular-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: a;
}

.popular-categories__item--materials {
  background-color: var(--accent-orange);
}

.popular-categories__item--tools {
  background-color: var(--accent-blue);
}

.popular-categories__item--mechanism {
  background-color: var(--accent-lilac);
}

.offers {
  display: flex;
  flex-direction: column;
}

.offfers__item {
  margin: 20px 0 0 20px;
}

.offers__item--discount {
  background-color: var(--accent-green-light);
}

.offers__item--delivery {
  background-color: var(--accent-orange);
}

.slider {
  position: relative;
  height: 266px;
  width: 620px;
}

.slider__action {
  position: absolute;
  top: 140px;
  width: 22px;
  height: 40px;
}

.slider__action--back {
  left: 24px;
}

.slider__action--forward {
  right: 24px;
}

.slider__bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 240px;
  left: 295px;
}

.slider__bullets > * + * {
  margin-left: 10px;
}

.slider-bullet {
  height: 10px;
  width: 10px;
  border: 2px solid var(--primary-white);
  border-radius: 50%;
  background-color: var(--primary-white);
}

.slider-bullet--active {
  background-color: var(--primary-red);
}

.slide {
  position: relative;
  color: var(--primary-white);
  margin-top: 20px;
  height: 266px;
}

.slide--hidden {
  display: none;
}

.slide__text-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 104px;
  width: 100%;
  padding: 23px 0 16px 24px;
  background-color: var(--quarter-opacity-black);
}

.slide__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.slide__hint {
  margin: 0;
}

.slide__action {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.services {
  background-color: var(--bg-primary);
}

.services__menu__item a {
  color: var(--primary-white);
  background-color: var(--primary-grey-dark);
}

.services__menu__item--active a {
  color: var(--primary-grey-dark);
  background-color: var(--primary-white);
}

/* FOOTER */

.footer-top {
  background-color: var(--primary-grey);
}

.footer-nav {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.footer-nav-offers {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.footer-link--accent {
  color: var(--accent-orange-light);
}

.footer-nav-link__name {
  color: var(--primary-white);
}

.social-link__name {
  color: var(--primary-white);
}

.footer-nav-link__name:hover,
.footer-link--accent:hover {
  text-decoration: underline;
}

.footer-nav-link__name:active,
.footer-nav-offers-link__name:active {
  opacity: 0.5;
}

.feedback__email:active,
.developed-by__link:active {
  color: var(--primary-red);
}

.footer-bottom {
  color: var(--primary-white);
  background-color: var(--primary-grey-dark);
}

.copyright {
  margin: 0;
}

.contact-us__submit {
  background-color: var(--primary-grey-light);
}

/* CATALOG */

.action-link__name {
  color: var(--primary-grey-dark);
}

.breadcrumbs {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--primary-black);
}

.filters-bg {
  background-color: var(--bg-accent);
}

.sorting-filters-title {
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.page-title {
  color: var(--primary-grey-dark);
  background-color: var(--bg-primary);
}

.sorting-filter-updown {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-grey-light);
}

.sorting-filter-updown:hover {
  background-color: var(--primary-black);
}

.sorting-filter-updown,
.sorting-filter-updown:hover {
  border-bottom: none;
}

.sorting-filter-type__name {
  color: var(--primary-grey-light);
  padding-bottom: 2px;
  border-bottom: 1px dotted var(--primary-red);
}

.sorting-filter-type__name:hover {
  color: var(--primary-black);
  border-bottom: 1px solid var(--primary-red);
}

.sorting-filter-type__name--active,
.sorting-filter-type__name--active:hover {
  color: var(--primary-red);
  border-bottom: none;
}

.filters {
  text-transform: uppercase;
}

.filters__title {
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 17px;
  line-height: 30px;
}

.filters__list {
  font-family: var(--secondary-font);
  font-size: 15px;
  line-height: 19px;
}

.filters__apply-button {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-product {
  text-transform: uppercase;
}

.catalog-product__title {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
}

.catalog-product__old-price {
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: var(--primary-grey-light);
}

.catalog-product__badge,
.catalog-product__actual-price {
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: var(--primary-red);
  color: var(--primary-white);
}

.about {
  background-color: var(--bg-primary);
}

.about p {
  margin: 0;
}

.cart-actions__button {
  text-transform: uppercase;
}
