:root {
  --bg-primary: #f3f7f9;
  --bg-accent: #f7f3ec;
  --bg-accent-light: #f9f5f0;

  --border-accent: #eaeaea;

  --primary-white: #fff;
  --primary-white-30-percent: rgba(255, 255, 255, 0.3);
  --primary-black: #000;

  --primary-grey: #3d546f;
  --primary-grey-dark: #32425c;
  --primary-grey-dark-alt: #293449;
  --primary-grey-darker: #1d2739;
  --primary-grey-dark-active: #161d29;
  --primary-grey-light: #c5c5c5;
  --primary-grey-lighter: #d7dcde;

  --primary-green: #63a63e;
  --primary-green-light: #5fbb2d;
  --primary-green-dark: #518534;
  --primary-green-darker: #367315;
  --primary-green-lighter: #00ca74;

  --primary-red: #ee3643;
  --primary-red-hover: #ca2c37;

  --accent-orange: #ffbf47;
  --accent-blue: #3bbce3;
  --accent-lilac: #dc91d8;
  --accent-green-light: #8ed78f;
  --accent-orange-light: #ffd180;
  --accent-brown-light: #f4f4f4;
  --accent-grey-light: #a9a9a9;
  --accent-grey-lighter: #cfcfcf;
  --accent-grey-dark: #405069;

  --success: #5fbb2d;
  --warning: #ffbf47;
  --error: #ba2732;

  --primary-font: "Cuprum", Helvetica, Arial, sans-serif;
  --secondary-font: "PT Sans", Helvetica, Arial, sans-serif;

  --inset-shadow: rgba(0, 0, 0, 0.24);
  --half-opacity-gray: rgba(255, 255, 255, 0.5);
  --quarter-opacity-black: rgba(0, 0, 0, 0.25);
  --three-quarter-opacity-black: rgba(0, 0, 0, 0.25);
}

html {
  height: 100%;
}

body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 24px;
  background-color: var(--primary-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.content-container {
  width: 940px;
  margin: 0 auto;
}

.section-title {
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.description {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 24px;
  font-weight: normal;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

/* HEADER */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background-color: var(--primary-red);
  color: var(--primary-white);
  box-shadow: inset 0px -5px 0px var(--inset-shadow);
}

.logo--small {
  height: 52px;
}

.logo--small:active {
  background-color: var(--error);
}

.logo--big {
  height: 68px;
}

.logo__picture--big {
  width: 136px;
  height: 22px;
}

.search-container {
  height: 100%;
}

.search {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: transparent;
  border: none;
  height: 100%;
  width: 271px;
  color: var(--primary-white);
}

.search::placeholder {
  font-weight: normal;
  color: var(--primary-white);
}

.control-buttons {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.control-icon-button {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--primary-white);
}

.control-icon-button:active {
  background-color: var(--primary-grey-dark-active);
  color: var(--half-opacity-gray);
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  width: 136px;
}

.order-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background-color: var(--primary-green);
  color: var(--primary-white);
}

.order-button:hover {
  background-color: var(--success);
}

.order-button:active {
  background-color: var(--primary-green);
  color: var(--half-opacity-gray);
}

.header-menu {
  background-color: var(--primary-grey-dark-alt);
}

.header-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.header-main {
  background-color: var(--bg-primary);
  padding: 44px 0 60px;
}

.header-main-content {
  display: grid;
  grid-template-columns: 320px 270px auto;
}

.header-main-content__title {
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: var(--primary-red);
  margin: 0 0 0 30px;
  width: 197px;
}

.address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.address__phone {
  width: 100%;
  height: 46px;
  font-family: var(--primary-font);
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  color: var(--primary-red);
  text-transform: uppercase;
}

.address__phone--big {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--primary-white);
}

.address__street {
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 24px;
  color: var(--primary-grey-dark);
  text-align: center;
  margin: 0;
}

.address--small {
  font-family: var(--primary-font);
  display: block;
  width: 330px;
  margin-top: 22px;
  padding-left: 3px;
}

.address__phone--small {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: var(--bg-primary);
}

.address__street--small {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: var(--bg-primary);
}

.menu-action-buttons-container {
  display: flex;
  justify-content: flex-end;
}

.menu-action-buttons-container > * + * {
  margin-left: 10px;
}

.menu-action-button {
  background-color: var(--primary-white);
  border: none;
  height: 46px;
  width: 150px;
  font-size: 21px;
  line-height: 21px;
  position: relative;
}

.menu-action-button:hover {
  color: var(--primary-red);
}

.menu-action-button:active {
  color: var(--primary-grey-light);
}

.menu-action-button--icon {
  width: 121px;
}

.action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  width: 192px;
  height: 38px;
  padding-top: 2px;
  text-transform: uppercase;
  color: var(--primary-white);
  background-color: var(--primary-red);
}

.action-button:hover {
  background-color: var(--primary-red-hover);
}

.action-button:active {
  background-color: var(--error);
}

.action-button--red {
  text-transform: uppercase;
}

.account-actitons {
  flex-direction: column;
  align-items: center;
}

.account-button {
  width: 299px;
  height: 45px;
}

.action-links-list {
  display: flex;
  justify-content: space-between;
  width: 210px;
}

.navigation-menu-container {
  background-color: var(--primary-grey-dark);
  color: var(--primary-white);
  box-shadow: inset 0px -5px 0px var(--primary-grey-dark-alt);

  display: flex;
  flex-direction: row;
  margin-top: 42px;
  padding: 0 20px;
}

.navigation-item {
  flex-grow: 1;
  text-align: center;
}

.navigation-item__title,
.navigation-item__title:visited {
  display: block;
  padding: 16px 24px 20px 27px;
  color: var(--primary-white);
  font-style: normal;
  font-weight: normal;
}

.navigation-item__title:hover {
  background-color: var(--primary-grey-dark-alt);
}

.navigation-item__title:active {
  background-color: var(--primary-grey-darker);
  opacity: 0.5;
}

.popular-categories-container {
  display: grid;
  grid-template-areas:
    "a a"
    "b c";
  padding: 59px 0;
}

.badge {
  position: relative;
}

.badge__item {
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
  color: var(--primary-white);
}

.badge__item::after {
  content: "New";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-red);
  width: 100px;
  height: 30px;
  position: absolute;
  top: 7px;
  right: -25px;
  font-size: 14px;
  line-height: 18px;
  transform: rotate(45deg);
  text-transform: uppercase;
}

.tile {
  position: relative;
  width: 300px;
  height: 123px;
  padding: 20px 0 0 22px;
  color: var(--primary-white);
}

.tile__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0 0 12px;
}

.tile__button {
  font-size: 14px;
  line-height: 18px;
  width: 135px;
  height: 38px;
  color: var(--primary-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-white-30-percent);
  text-transform: uppercase;
}

.popular-categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: a;
}

.popular-categories__item--materials {
  background-color: var(--accent-orange);
}

.popular-categories__item--tools {
  background-color: var(--accent-blue);
}

.popular-categories__item--mechanism {
  background-color: var(--accent-lilac);
}

.offers {
  display: flex;
  flex-direction: column;
}

.offfers__item {
  margin: 20px 0 0 20px;
}

.offers__item--discount {
  background-color: var(--accent-green-light);
}

.offers__item--delivery {
  background-color: var(--accent-orange);
}

.slider {
  position: relative;
  height: 266px;
  width: 620px;
}

.slider__action {
  position: absolute;
  top: 140px;
  width: 22px;
  height: 40px;
}

.slider__action--back {
  left: 24px;
}

.slider__action--forward {
  right: 24px;
}

.slider__bullets {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 240px;
  left: 295px;
}

.slider__bullets > * + * {
  margin-left: 10px;
}

.slider-bullet {
  height: 10px;
  width: 10px;
  border: 2px solid var(--primary-white);
  border-radius: 50%;
  background-color: var(--primary-white);
}

.slider-bullet--active {
  background-color: var(--primary-red);
}

.slide {
  position: relative;
  color: var(--primary-white);
  margin-top: 20px;
  height: 266px;
}

.slide--hidden {
  display: none;
}

.slide__text-container {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 104px;
  width: 100%;
  padding: 23px 0 16px 24px;
  background-color: var(--quarter-opacity-black);
}

.slide__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
}

.slide__hint {
  margin: 0;
}

.slide__action {
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.services {
  background-color: var(--bg-primary);
  padding: 64px 0 6px;
}

.services-info {
  width: 400px;
}

.info-block-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 24px;
  font-weight: normal;
}

.info-block-header--services {
  margin-bottom: 29px;
}

.info-block-description {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 25px;
  margin: 0;
}

.info-block-description--secondary {
  margin-top: 22px;
}

.services-container {
  display: flex;
  margin-top: 67px;
}

.services-menu__item {
  display: flex;
  align-items: center;
  width: 240px;
  height: 62px;
  font-weight: bold;
  font-size: 21px;
  line-height: 30px;
  padding-left: 22px;
  color: var(--primary-white);
  background-color: var(--primary-grey-dark);
  box-shadow: 0px 1px 0px var(--primary-grey-dark-alt),
    inset 0px 1px 0px var(--accent-grey-dark);
}

.services-menu__item--active {
  color: var(--primary-grey-dark);
  background: var(--primary-white);
  box-shadow: 0px 1px 0px var(--primary-white);
}

.services-list {
  margin-left: 70px;
}

.service {
  display: none;
}

.service--active {
  display: block;
  width: 280px;
}

.menu-divider {
  width: 10px;
  height: 279px;

  background-color: rgba(0, 0, 0, 0.0001);
  mix-blend-mode: normal;
  opacity: 0.25;
}

.contacts {
  display: flex;
  justify-content: space-between;
  height: 356px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.promo-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-accent-light);
  padding: 25px 14px 28px 28px;
}

.promo-section--header {
  background-color: var(--bg-primary);
  margin-top: 20px;
}

.promo-section__title {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  color: var(--primary-grey-dark);
}

.promo-section__title--header {
}

.vendors-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 20px 0 70px;
}

.vendor {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 145px;
  border: 1px solid var(--border-accent);
}

.delivery-companies {
  list-style: none;
  margin: 2px 0 20px;
}

.delivery-companies__item {
  position: relative;
  padding-left: 2em;
  margin: 0 0 12px;
}

.delivery-companies__item:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  padding-right: 5px;
  color: var(--primary-red);
  border: 1px solid var(--primary-red);
  width: 25px;
  height: 0;
}

.action-link--divided:not(:last-child)::after {
  content: "*";
}

.action-link__name {
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-grey-dark);
}

.about-company-button-container {
  width: 220px;
}

.map {
  margin: 32px 0 17px;
}

/* FOOTER */

.footer-top {
  background-color: var(--primary-grey-dark);
  padding-bottom: 54px;
}

.footer-logo-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-address-container {
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 548px;
  margin-bottom: 7px;
}

.footer-nav-offers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 524px;
  margin-top: 8px;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  padding: 36px 0 34px;
  background-color: var(--primary-grey-dark-alt);
  color: var(--primary-white);
}

.footer-bottom-container {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin: 0;
  width: 227px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
}

.feedback {
  width: 137px;
}

.developed-by {
  width: 98px;
}

.footer-link--accent {
  color: var(--accent-orange-light);
}

.footer-nav-link__name {
  color: var(--primary-white);
}

.social-link__name {
  color: var(--primary-white);
}

.footer-nav-link__name:hover,
.footer-link--accent:hover {
  text-decoration: underline;
}

.footer-nav-link__name:active,
.footer-nav-offers-link__name:active {
  opacity: 0.5;
}

.feedback__email:active,
.developed-by__link:active {
  color: var(--primary-red);
}

.contact-us__submit {
  background-color: var(--primary-grey-light);
}

.popup {
  position: relative;
  margin: 0 auto;
  box-shadow: 0px 20px 40px var(--three-quarter-opacity-black);
  border-top: 7px solid var(--primary-red);
}

.popup__close-button {
  position: absolute;
  top: 5px;
  right: 5px;
}

.write-us-popup {
  width: 620px;
}

.write-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.write-us-form__container {
  padding: 39px 80px;
  height: 272px;
}

.write-us-form__send-button-container {
  padding: 39px 80px;
  background-color: var(--accent-brown-light);
}

.map-popup {
  width: 943px;
  height: 449px;
}

/* CATALOG */

.catalog-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 20px;
}

.catalog-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
}

.catalog-list--popular {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 18px 0 70px;
}

.catalog-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  width: 220px;
  height: 318px;
  border: 1px solid var(--border-accent);
  cursor: pointer;
  padding: 0 18px 21px;
}

.catalog-product__picture {
  width: 184px;
  height: 164px;
}

.catalog-product:hover {
  padding-top: 34px;
  box-shadow: 0px 4px 20px var(--quarter-opacity-black);
}

.catalog-product:hover .catalog-product__picture {
  display: none;
}

.catalog-product:hover .catalog-product__button {
  display: block;
}

.catalog-product__title {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.catalog-product__old-price {
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: var(--accent-grey-light);
}

.catalog-product__actual-price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 128px;
  height: 36px;
  font-family: var(--secondary-font);
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  background-color: var(--primary-red);
  border-radius: 3px;
  color: var(--primary-white);
  padding-right: 12px;
}

.catalog-product__actual-price::after {
  content: "";
  position: relative;
  right: -29px;
  border-top: 18px solid transparent;
  border-bottom: 18px solid transparent;
  border-left: 18px solid var(--primary-red);
}

.catalog-product__action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86px;
  margin-bottom: 54px;
  flex-grow: 1;
}

.catalog-product__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.catalog-product__button {
  display: none;
  width: 135px;
  height: 38px;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
}

.catalog-product__button--buy {
  background-color: var(--primary-green);
  color: var(--primary-white);
  box-shadow: inset 0px -3px 0px var(--primary-green-darker);
}

.catalog-product__button--buy:hover {
  background-color: var(--primary-green-light);
}

.catalog-product__button--buy:active {
  background-color: var(--primary-green-dark);
}

.catalog-product__button--bookmark {
  color: var(--primary-grey-dark);
  border: 3px solid var(--primary-green);
  border-radius: 2px;
}

.catalog-product__button--bookmark:hover {
  border-color: var(--primary-grey-dark);
}

.catalog-product__button--bookmark:active {
  opacity: 0.5;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  margin-top: 21px;
  margin-left: 1px;
}

.breadcrumb {
  color: var(--primary-black);
  position: relative;
  margin-right: 40px;
}

.breadcrumb::before {
  content: "";
  position: absolute;
  left: -25px;
  top: 2px;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/icon-right-small.svg");
  background-repeat: no-repeat;
}

.breadcrumb--current::before {
  display: none;
}

.breadcrumbs:last-child {
  margin-right: 0;
}

.filters {
  margin-bottom: 30px;
}

.filters-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-accent);
  padding: 10px 14px 10px 18px;
  margin-top: 20px;
  border-radius: 2px;
}

.filters-header__title {
  margin: 0;
  font-family: var(--secondary-font);
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.sorting-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sorting-filter {
  color: var(--primary-grey-light);
  padding-bottom: 2px;
  border-bottom: 1px dotted var(--primary-red);
}

.sorting-filter:hover {
  color: var(--primary-black);
  border-bottom: 1px solid var(--primary-red);
}

.sorting-filter--active,
.sorting-filter--active:hover {
  color: var(--primary-red);
  border-bottom: none;
}

.sorting-filter-updown {
  display: block;
  width: 10px;
  height: 10px;
  background-color: var(--primary-grey-light);
}

.sorting-filter-updown:hover {
  background-color: var(--primary-black);
}

.sorting-filter-updown,
.sorting-filter-updown:hover {
  border-bottom: none;
}

.filters {
  text-transform: uppercase;
}

.filters__title {
  display: flex;
  align-items: center;
  font-family: var(--secondary-font);
  font-weight: bold;
  font-size: 17px;
  line-height: 26px;
  height: 52px;
}

.filters__list {
  font-family: var(--secondary-font);
  font-size: 15px;
  line-height: 19px;
}

.filters__apply-button {
  font-family: var(--secondary-font);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  background-color: var(--bg-accent);
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 39px 20px;
}

.scale {
  height: 2px;
  background-color: var(--primary-grey-lighter);
}

.bar {
  width: 70%;
  height: 2px;
  background-color: var(--primary-green-lighter);
}

.point {
  position: absolute;
  top: 32px;
  padding: 0;
  width: 4px;
  height: 4px;
  border: 8px solid var(--primary-white);
  color: var(--primary-grey-lighter);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--accent-grey-lighter);
}

.point--min {
  left: 18px;
}

.point--max {
  left: 145px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 17px;
}

.price__input {
  width: 95px;
  height: 38px;
  padding: 10px 0;
  text-align: center;
  border: none;
  border-radius: 2px;
  background-color: var(--bg-accent);
}

.price__input--min {
  padding-left: 12px;
  padding-right: 12px;
}

.dash {
  align-self: center;
}

.price__input--max {
  padding-left: 14px;
  padding-right: 14px;
}

.pagination {
  margin-bottom: 52px;
}

.about-products {
  background-color: var(--bg-primary);
}

.about-products-container {
  padding: 64px 0 66px;
}

.cart-actions__button {
  text-transform: uppercase;
}
